* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: black;
}

.logo {
  position: absolute;
  top: 0;
  width: 150px;
  height: auto;
  margin: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3C41F5;
  padding: 30px;
}

.header p {
  color: #FFFFFF;
  font-size: smaller;
  position: absolute;
  top: 0;
  right: 0;
  margin: 40px;
}

.table {
  border-collapse: collapse;
  margin-top: 30px;
  width: 100%;
}

.table th {
  background-color: #3C41F5;
  color: #FFF;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

.table td {
  background-color: #FFF;
  border: 1px solid #DDD;
  padding: 10px;
}

.metric-cards-container {
  display: flex;
  width: 80%;
  margin: 60px auto;
  max-width: 1200px;
}

.metric-card {
  background: rgb(16, 16, 16);
  color: #FFFFFF;
  text-align: center;
  border-radius: 8px;
  display: flex;
  flex-flow: column nowrap;
  padding: 32px;
  margin: 30px;
  width: 100%;
}

.metric-card h2,
.metric-card h4 {
  font-size: 24px;
  margin-bottom: 16px;
}

.metric-card p {
  font-size: 14px;
}

.table-container {
  justify-content: space-between;
  margin-top: 50px;
  width: 80%;
  margin: 60px auto;
  max-width: 800px;
}

span.time {
  background-color: #3C41F5;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  border-radius: 25px;
  background-color: #FFFFFF;
  padding: 10px;
}

.search-form label {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.search-form input[type="text"] {
  background-color: #F2F2F2;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
  flex: 1;
  border-radius: 5px;
  margin-right: 10px;
}

.search-form button[type="submit"] {
  border: none;
  outline: none;
  background-color: #3C41F5;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-form button[type="submit"]:hover {
  background-color: #2328B6;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  color: #fff;
}

.pagination a {
  display: inline-block;
  padding: 10px 15px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #3c41f5;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.pagination a:hover {
  background-color: #2328b6;
}

.page.current {
  display: inline-block;
  padding: 10px 15px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #fff;
  color: #3c41f5;
  text-decoration: none;
}